
.container {
    width: 100vw;
    height: 100vh;
    background-color: #ff1;
    display: grid;
    grid-template-rows: 52px 1fr;
    grid-template-columns: 52px 14px 1fr 14px;
    grid-template-areas:
        "navbar no-content-left header no-content-right"
        "navbar no-content-left content no-content-right";
    height: 100vh;
}

.header {
    grid-area: header;
}
.content {
    grid-area: content;
}
.navbar {
    grid-area: navbar;
}
.no__content--left {
    grid-area: no-content-left;
}
.no__content--right {
    grid-area: no-content-right;
}

.header {
    background-color: #fff;
}

.content {
    background-color: #fff;
}

.navbar {
    background-color: #fff;
}

.no__content--left {
    border-left: 1px solid #f3f3f3;
    background-color: #fff;
}
.no__content--right {
    background-color: #fff;
}

.navbar .icon__gpt {
    height: 52px;
    display: flex;
    align-items: center;
}

.navbar .icon {
    margin: 8px 0 525px 0;
    height: 108px;
}

.navbar .icon__spackle {
    height: 36px;
}

.navbar .icon__avatar {
    height: 40px;
    display: flex;
    justify-content: center;
}

.navbar .icon .icon__add,
.navbar .icon .icon__search,
.navbar .icon .icon__image,
.navbar .icon__spackle {
    height: 36px;
    display: flex;
    justify-content: center;
}

.navbar .icon__gpt .wrapper,
.navbar .icon__add .wrapper {
    height: 36px;
    width: 100vh;
    display: flex;
    justify-content: center;
}

.navbar .icon__gpt .wrapper .content {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .icon__gpt .wrapper .content i {
    font-size: 20px;
}

.navbar .icon__add .content,
.navbar .icon__search .content,
.navbar .icon__image .content,
.navbar .icon__spackle .content {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .icon__add .content i,
.navbar .icon__search .content i,
.navbar .icon__image .content i,
.navbar .icon__spackle .content i {
    font-size: 15px;
}

.navbar .icon__avatar .content {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .icon__avatar .content i {
    font-size: 24px;
}

.icon__gpt button,
.icon__add button,
.icon__search button,
.icon__image button,
.icon__spackle button, 
.icon__avatar button {
    border: none;
    background-color: transparent;
}

.icon__gpt .content:hover {
    border-radius: 6px;
    background-color: #EDEDED;
}

.icon__add .content:hover,
.icon__search .content:hover, 
.icon__image .content:hover,
.icon__spackle .content:hover,
.icon__avatar .content:hover {
    border-radius: 6px;
    background-color: #F5F5F5;
}

.icon__avatar .content {
    position: relative;
}

.navbar .icon__gpt .content,
.navbar .icon__add .content,
.navbar .icon__search .content,
.navbar .icon__image .content,
.navbar .icon__spackle .content,
.navbar .icon__avatar .content {
    position: relative;
}

.navbar .icon__gpt .content .tooltip,
.navbar .icon__add .content .tooltip,
.navbar .icon__search .content .tooltip,
.navbar .icon__image .content .tooltip,
.navbar .icon__spackle .content .tooltip,
.navbar .icon__avatar .content .tooltip {
    position: absolute;
    left: 55px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 3px 14px 3px 10px;
}