.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: #ffffff;
    width: 680px;
    height: 600px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    bottom: 4px;
    filter: drop-shadow(0 1px 2px #d3d3d3);
    border: 1px solid var(--color-line-modal);
    display: flex;
}

.table__left {
    width: 198px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.table__right {
    width: calc(100% - 198px);
}

.out {
    height: 60px;
    padding: 12px 0 12px 10px;
}

.out__content {
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

.out__content:hover {
    background-color: #efefef;
    border-radius: 6px;
}

.select {
    height: 36px;
    border: none;
    background-color: transparent;

    transform: scale(0.92);
    padding: 6px 10px;
}

.select__content {
    width: 152px;
    height: 20px;
    display: flex;
    align-items: center;
}

.content__icon {
    font-size: 18px;
}

.content__text {
    width: 41px;
    font-size: 14px;
    margin: 0 0 0 6px;
    white-space: nowrap;
}

.select:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.select.active {
    background-color: #efefef;
    border-radius: 8px;
}

.table__right .container {
    padding: 0 15px;
}

.table__right .global {
    height: 52px;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.global h3 {
    font-size: 18px;
    font-weight: normal;
}

.global {
    border-bottom: 1px solid #e6e6e6;
}

.table__right .column {
    height: 60px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .speak {
    height: 109px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .private {
    height: 76px;
    padding: 8px 0;
}

.line {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
}

.line__update {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
}

.column__top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.column__top .column__top--content {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.column__top--content .title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.column__top--content .button {
    height: 100%;
    border: none;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-right: 10px;
}

.column__top--content .button:hover {
    padding: 0 10px;
    border-radius: 8px;
    background-color: #efefef;
}

.text__content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blueviolet;
}

.icon__x {
    font-size: 12px;
    opacity: 70%;
}

.speak__content--top {
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.speak__content--top .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.speak__content--top .button {
    border: none;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.speak__content--top .button:hover {
    border-radius: 8px;
    background-color: #efefef;
}

.speak__content--bottom {
    margin-top: 6px;
    height: 54px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.column__top--content .button__x {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column__top--content .button__x .button__top,
.column__top--content .button__x .button__bottom {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    gap: 8px;
    padding: 10px 10px;
}

.column__top--content .button__x .button__top:hover {
    background-color: #efefef;
    border-radius: 20px;
}

.column__top--content .button__x .button__bottom:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.column__top--content .button__x .space {
    width: 1px;
    height: 40%;
    background-color: #8f8f8f;
    margin: 0 5px;
    opacity: 0.2;
}

.icon__y {
    font-size: 12px;
}

.row__header {
    height: 20px;
}

.row__content {
    height: 32px;
    margin: 4px 0;
}

.row__content--top {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.row__content--top .title {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__content--top .button {
    width: 36px;
    background-color: #e3e3e3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: 2px solid #e3e3e3;
    justify-content: start;
}

.row__content--top .button__content {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
}

.row__content--top .button.on {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #0285ff;
    border: 2px solid #0285ff;
}

.row__content {
    font-size: 12px;
    color: #8f8f8f;
    padding: 0 50px 0 0;
}

.table__right .speak__x {
    height: 93px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.speak__x .speak__content--top {
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.speak__x .speak__content--bottom {
    margin-top: 6px;
    height: 32px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.table__right .speak__y {
    height: 77px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.speak__y .speak__content--bottom {
    margin-top: 6px;
    height: 16px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.table__right .box {
    height: 212px;
    padding: 16px;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .box .box__brands {
    height: 60px;
}

.table__right .box .box__title {
    height: 36px;
    margin: 12px 0;
    font-size: 13px;
    text-align: center;
    color: #8f8f8f;
}

.table__right .box .box__button .box__button--x {
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    font-weight: 600;
}

.table__right .box .box__button {
    height: 60px;
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table__right .box .box__brands .box__brands-x,
.table__right .box .box__brands .box__brands-y,
.table__right .box .box__brands .box__brands-z,
.table__right .box .box__brands .box__brands-t {
    width: 40px;
    height: 40px;
    position: relative;
}

.table__right .box .box__brands i {
    font-size: 26px;
}

.table__right .box .box__brands .icon_x {
    color: blueviolet;
}

.table__right .box .box__brands .icon_y {
    color: #fff;
}

.table__right .box .box__brands .icon_z {
    color: #fff;
}

.table__right .box .box__brands .icon_t {
    color: #ff6201;
}

.table__right .box .box__brands .box__brands--iy {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    left: 8px;
    z-index: 3;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--iz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    right: 8px;
    z-index: 2;
    background-color: #5661ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--ix {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    left: 16px;
    z-index: 4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--it {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    right: 16px;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .setup .setup__box {
    width: 100%;
    height: 64px;
    border: none;
    background-color: transparent;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.table__right .setup .box__top {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .setup .box__bottom {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .setup .box__top .box__top--icon {
    padding: 6px;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
}

.table__right .control {
    height: 75px;
    padding: 16px 0 4px;
}

.table__right .control .control__content {
    font-size: 13px;
    color: #8f8f8f;
}

.table__right .control__button {
    font-size: 13px;
    height: 44px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.table__right .control__button .button {
    height: 36px;
    border: none;
    background-color: transparent;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
    gap: 8px;
}

.table__right .header__left {
    height: 52px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
}

.table__right .header__left .header__left--title {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__left .header__left--button {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .header__mid {
    height: 52px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
}

.table__right .header__mid .header__mid--title {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__mid .header__mid--button {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__mid .header__mid--button button {
    border: none;
    background-color: transparent;
    padding: 0 15px;
    height: 100%;
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
    border: 1px solid var(--color-line-modal);
}

.table__right .header__mid .header__mid--button .prev {
    border: 1px solid #e9bab9;
    opacity: 1;
    color: #c23f3c;
}

.table__right .secure__key {
    width: 100%;
    height: 89px;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.table__right .secure__key .column__text {
    font-size: 12px;
}

.table__right .secure__key .key__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.table__right .secure__key .key__column .column__text {
    text-align: start;
    color: #8f8f8f;
}

.table__right .secure__key .key__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .secure__key .key__row .row__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__key .key__row .row__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.table__right .secure__mfa {
    border-top: 1px solid #f3f3f3;
    height: 42px;
    padding: 10px 0 6px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.table__right .secure__application {
    height: 61px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__application .app__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__application .auth__title {
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__application .button {
    width: 32px;
    height: 20px;
    background-color: #e3e3e3;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.table__right .secure__application .button.on {
    background-color: #0285ff;
    justify-content: end;
}

.table__right .secure__application .button__content {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 2px;
}

.table__right .secure__application .app__support {
    height: 24px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__device {
    height: 92px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__device .secure__title {
    font-size: 13px;
    height: 20px;
}

.table__right .secure__device .secure__content {
    height: 47px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__logout {
    height: 60px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__logout .logout__title {
    height: 36px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__logout .logout__button {
    height: 36px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.table__right .secure__out {
    height: 108px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__out .secure__left--title {
    height: 20px;
    font-size: 13px;
}

.table__right .secure__out .secure__left--content {
    height: 64px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__out .out__right {
    height: 100%;
}

.table__right .secure__out .out__right .out__right--content {
    height: 36px;
    border: none;
    padding: 0 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.table__right .secure__login {
    height: 86px;
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__login .secure__login--left {
    height: 28px;
    font-size: 16px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.table__right .secure__login .secure__login--right {
    height: 32px;
    margin: 2px 0 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__login .secure__login--right .prev {
    text-decoration: underline;
}

.table__right .secure__banner {
    height: 92px;
    margin: 16px 0 16px;
}

.table__right .banner__content {
    font-size: 13px;
    color: #8f8f8f;
    padding: 16px;
    background-color: #F3F3F3;
    border-radius: 10px;
}

.table__right {
    overflow-x: auto;
}

.table__right::-webkit-scrollbar {
    width: 10px;
}

.table__right::-webkit-scrollbar-track {
    background: transparent;
}

.table__right::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

/* .table__right::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
