.register__container {
    width: 500px;
    height: 600px;
    background-color: var(--color-reset);
    margin: 10vh auto 0;
    border-radius: 10px;
}

.register__box {
    width: 95%;
    height: 95%;
    background-color: var(--color-box);
    margin: 10% auto 0;
    border-radius: 10px;
}

.error__box {
    font-size: var(--font-global);
    color: var(--color-box);
    text-align: center;
    margin-top: 8px;
}

.box__title {
    font-size: var(--font-global);
    color: var(--color-start);
    text-align: center;
    padding-top: 18px;
    margin-bottom: 20px;
}

.box__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__code,
.form__user,
.form__pass,
.form__confirm {
    margin-top: 28px;
}

.form__button {
    margin-top: 110px;
}

.label__form {
    font-size: var(--font-column);
}

.fa-solid,
.fas {
    font-size: var(--size-icon);
}

.form__button button {
    border: none;
}

.input__form {
    font-size: var(--font-global);
    padding: 6px 90px 6px 30px;
    border-radius: 2px;
    border: 1px solid;
}

.input__form {
    outline: none;
}

.code__content,
.user__content,
.pass__content,
.confirm__content {
    position: relative;
}

.fa-user,
.fa-lock {
    /* color: blue; */
    position: absolute;
    top: 6px;
    left: 4px;
}

.fa-eye-slash,
.fa-eye {
    position: absolute;
    top: 8px;
    right: 8px;
}

.form__button .submit__button {
    font-size: var(--font-global);
    padding: 6px 123px;
    color: var(--color-box);
    background: var(--color-end);
    border: none;
    border-radius: 2px;
}

.form__register {
    font-size: var(--font-note);
    margin-top: 18px;
    display: block;
    text-align: center;
}

.form__forgot .forgot__button {
    outline: none;
    border: none;
    background-color: var(--color-box);
    color: var(--color-end);
}

.form__forgot .forgot__button:hover {
    text-decoration: underline;
}
