.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid rgb(215, 195, 195);
    border-top-color: var(--color-end);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    position: relative;
}

.title {
    margin-top: 20px;
    color: var(--color-end);
    font-size: 16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
